body{
    margin: 0;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    width: 50%;
}

nav ul{
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 10px;
    list-style: none;
}

nav li a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;

}

.body {
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 20px;
}

.left {
    width: 50%;
}

.left h1{
    font-size: 48px;
    font-weight: 800px;
    color: #F9FAF8;
}

.left p{
    font-size: 18px;
    color: #E5E7EB;
}
/* Styling the button */
.left button {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 18px;
    margin-top: 20px;
    color: #FFF;
    font-weight: 600;
}

/* Styling the Images under the header */
.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
  
  .images-title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
  .image-box {
    margin: 10px;
    text-align: center;
}
  
  .image {
    width: 275px;
    height: 275px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
}
  
  .image-text {
    margin-top: 10px;
    font-size: 18px;
}

  .quote-section {
    background-color: #E5E7EB;
    padding: 100px;
}

  .quote {
    text-align: center;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    max-width: 900px;
    margin: 0 auto;
}

  .quote-from {
    text-align: right;
    max-width: 900px;
    margin: 0 auto;
    font-weight: 800;
    font-size: 24px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 14%;
    margin: 60px;
}

.cta-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E27408;
    width: 100%;
    border-radius: 8px;
}



.button2 {
    background-color: #00bb48;
    border: 2px solid #FFF;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 18px;
    color: #FFF;
    font-weight: 600;
}

footer {
    background-color: #00bb48;
    padding: 1% 5%;
}

.footer-text{
    display: flex;
    justify-content: center;
}